<div>
    <p id="registerFeedback" class="requestOk">Test</p>
</div>

<h1>Welcome to Gastrolinked</h1>

<h2>register</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">

    <div>
        <label for="name">Restaurant Name:</label>
        <input type="text" [formControl]="name" required minlength="1" maxlength="50">
        <div *ngIf="name.errors">
            <div *ngIf="name.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="name.errors.required">Restaurant name is required</div>
                <div *ngIf="name.errors.maxlength">Restaurant name must be maximum 50 characters </div>
                <div *ngIf="name.errors.minlength">Restaurant name must be at least 1 characters</div>
            </div>
        </div>

    </div>
    <div>
        <label for="username">Username: </label>
        <input type="text" [formControl]="username" required minlength="5" maxlength="30">
        <div *ngIf="username.errors">
            <div *ngIf="username.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.maxlength">Username must be maximum 30 characters </div>
                <div *ngIf="username.errors.minlength">Username must be at least 5 characters</div>
            </div>
        </div>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" [formControl]="password">
        <div *ngIf="password.errors">
            <div *ngIf="password.errors && isValidForm != null && !isValidForm" [ngClass]="'error'" required>
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.maxlength">Password must be maximum 16 characters </div>
                <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
            </div>
        </div>
    </div>
    <div>
        <label for="password0">Confirm password: </label>
        <input type="password0" [formControl]="password0">
        <div *ngIf="password0.errors">
            <div *ngIf="password0.errors && isValidForm != null && !isValidForm" [ngClass]="'error'" required>
                <div *ngIf="password0.errors.required">Password is required</div>
                <div *ngIf="password0.errors.mustMatch">Passwords does not match</div>
            </div>
        </div>
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="email" [formControl]="email" required>
        <div *ngIf="email.errors">
            <div *ngIf="email.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.pattern">Email must be in a valid email format</div>

            </div>
        </div>
    </div>
    <div>
        <label for="email0">Confirm email: </label>
        <input type="email0" [formControl]="email0" required>
        <div *ngIf="email0.errors">
            <div *ngIf="email0.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                <div *ngIf="email0.errors.required">Email is required</div>
                <div *ngIf="email0.errors.mustMatch">Passwords does not match</div>
            </div>
        </div>
    </div>
    <button type="submit">Register Restaurant</button>
</form>