<div style="margin-left: auto; margin-right: auto">
    <p id="loginFeedback"></p>
</div>
<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="username">Username: </label>
        <input type="text" [formControl]="username" required maxlength="30" minlength="5">

        <div *ngIf="username.errors && username.dirty" [ngClass]="'error'">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.maxlength">Username must be maximum 30 characters </div>
            <div *ngIf="username.errors.minlength">Username must be at least 5 characters</div>
        </div>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" [formControl]="password" required>


        <div *ngIf="password.errors && password.dirty" [ngClass]="'error'">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.maxlength">Password must be maximum 16 characters </div>
            <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
        </div>

    </div>
    <button type="submit">Log in</button>
</form>